.center {
  margin: 0 auto;
}

.center-text {
  margin: 3rem 0;
}

.form-area {
  margin: 0;
}

.proImg{
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.randomPro{
  border: 1px solid;
  margin: 2rem;
  padding: 2rem;
}

.profileInfo, h2{
  margin-left: 3%;
  margin-bottom: 20px;
}

.proButtons{
  margin: 5rem;
  padding: 2rem;
}

.proButtons a{
  margin-left: 2rem;
}

.addPic{
  margin-top: 10px;
}

.search{
  border: 1px solid gray;
  height: 20px;
  width: 80%;
  font-size: 14px;
}

.searchForm{
  margin-left: 20px;
}

.pageTitle{
  font-size: 60px;
  margin-left: 3%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.proSection{
  margin-bottom: 40px;
}

.area{
  display: flex;
  flex-direction: row;
}

.diffSearches{
  margin: 2rem;
  padding: 2rem;
}

h3{
  margin-bottom: 5px;
}

legend{
  margin-left: 1%
}

select{
  display: inline-block;
}
